.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.footer p {
  font-size: 13px;
}

.socialMedia {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 30px;
}

@media screen and (max-width: 426px) {
  .footer {
    padding-inline: 0;
  }

  .footer p {
    padding-inline: 50px;
    text-align: center;
  }
}
