.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.footer p {
  text-align: center;
  font-size: 0.6rem;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bottom {
  padding-top: 1rem;
  padding-bottom: 2rem;
}


