.bg {
  display: none;
  z-index: -3;
  position: absolute;
  left: -600px;
  top: -300px;
  transform: scale(0.75);
}

.contactFormWrapper {
  padding-inline: 1rem;
  padding-block: 5rem;

}

.contactFormContent {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 3rem 2rem;
  border-radius: 18px;
  transition: all 1s ease;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contactFormContent h3 {
  font-size: 18px;
}

.contactFormContent textarea {
  display: flex;
  resize: none;
  height: 125px;
}

.contactFormContent input,
.contactFormContent textarea {
  padding-block: 8px;
  font-size: 1rem;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000;
}

@media screen and (min-width: 1366px) {
  .bg {
    display: flex;
  }
}