.bg {
  display: none;
  z-index: -3;
  position: absolute;
  top: -550px;
  right: -650px;
}

.bg img {
  width: 1000px;
  height: 1000px;
}

.heroWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.pictureWrapper {
  display: flex;
  justify-content: center;
}

.picture {
  width: 175px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.name {
  margin-block: 1rem;
  font-size: 2rem;
  line-height: 1;
}

.heroContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 500px;
}

.text {
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContent p {
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
}

.button {
  text-decoration: none;
  display: inline-flex;
  padding: 0.75rem 2rem;
  margin-top: 2rem;
  background-color: lightseagreen;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.seeMore {
  position: absolute;
  bottom: 10px;
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: lightseagreen;
}

@media screen and (width: 320px) {
  .pictureWrapper {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  .bg{
    display: flex;
  }

  .picture {
    width: 375px;
    height: 375px;
  }

  .heroContent {
    max-width: 1100px;
    flex-direction: row-reverse;
    align-items: center;
    gap: 6rem;
  }

  .name {
    font-size: 3rem;
  }

  .heroContent p {
    text-align: left;
    max-width: 400px;
  }

  .text {
    padding-inline: 0;
    align-items: flex-start;
  }
}